*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
.main{
    height: 100vh;
    background-color: #060606;
   
}
.clock{
    height: 100%;
    padding: 4rem 2rem;
    display: grid;
    grid-template-rows: 1fr 1rem 1fr 1rem 1fr;
    gap: 0.5rem;
}
.hour-Container, .minute-Container, .seconds-Container{
    background: linear-gradient(76deg,#fde1ff,#e0e7ff,#e0f9ff,#fffae9);
    animation: slime 45s ease infinite;
    /* background-color: #292929; */
    border: 1px solid #858585;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cols{
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hour, .min, .sec{
    color: rgb(26, 26, 26);
    font-size: 4rem;
    text-align: center;
}

@media only screen and (min-width:678px){
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .clock{
        padding: 2rem;
        width: 100%;
        height: 60%;
        grid-template-rows: 1fr;
        grid-template-columns:1fr 1rem 1fr 1rem 1fr ;
    }
    .cols{
        font-size: 4rem;
    }
}

@media only screen and (min-width:990px){
    .clock{
        width: 80%;
        height: 80%;
    }
    .hour, .min, .sec{
        font-size: 10rem;
    }
}